body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    background-color: #f4f4f4; 
}

.main-title {
    text-align: center;
    width: 100%; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-around; 
    width: 100%;
    max-width: 800px; 
    flex-wrap: wrap;
}

.popup-container {
    display: none;
}

.popup-form {
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 0 auto; 
    width: calc(50% - 40px); 
    max-width: 800px; 
}

.popup-info {
    width: calc(100% - 40px); 
    max-width: 800px;
    background-color: #ffffff; 
    padding: 30px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; 
}

form {
    background-color: #ffffff; 
    padding: 30px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(50% - 40px); 
    margin: 20px; 
}

input, select {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

input[type="submit"] {
    background-color: #007BFF; 
    color: #ffffff; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

input[type="submit"]:hover {
    background-color: #0056b3; 
}

input[type="radio"] {
    width: auto; 
    margin-right: 10px; 
    padding: 0; 
    border: none; 
    border-radius: 0; 
}

.suggestions {
    border: 1px solid #ddd;
    border-top: none;
}

.suggestions div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}

.suggestions div:hover {
    background-color: #f6f6f6;
}

.radio-label-container {
    align-items: center; 
    margin-bottom: 10px; 
}

.price-container {
    display: flex;
    align-items: center;
}

.price-label {
    margin-right: 10px;
}

.price-value {
    font-weight: bold;
}

.confirm-form {
    width: calc(80% - 40px); 
    max-width: 800px; 
    margin-bottom: 20px; 
}

.menu {
    text-align: center;
    background-color: #fff; /* Couleur de fond du menu */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre du menu */
}

.menu a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #333; /* Couleur du texte des liens */
    font-size: 18px; /* Taille du texte */
    padding: 8px 0;
}

.menu a:hover {
    color: #007bff; /* Couleur du texte au survol */
}

.menu h1 {
    margin-bottom: 30px;
    color: #333; /* Couleur du titre */
}

.confirmation-box {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px; /* Ajustez la largeur maximale selon vos besoins */
}

.confirmation-box h1 {
    color: #333;
    margin-bottom: 20px;
}

.confirmation-box p {
    color: #666;
    line-height: 1.6;
}

.confirmation-box a {
    color: #007bff;
    text-decoration: none;
}

.confirmation-box a:hover {
    text-decoration: underline;
}