body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%; /* Assurez-vous que le body prend toute la hauteur */
}

body {
    display: flex;
    flex-direction: column; /* Organise les éléments enfants en colonne */
    justify-content: flex-start; /* Aligner les éléments au début verticalement */
    align-items: center; /* Centrer les éléments horizontalement */
    background-color: #f4f4f4; /* Couleur d'arrière-plan pour un contraste doux */
}

.main-title {
    text-align: center; /* Centrer le texte du titre */
    width: 100%; /* Assurez-vous que le titre prend toute la largeur */
    margin-top: 20px; /* Ajouter un peu d'espace au-dessus du titre */
    margin-bottom: 20px; /* Ajouter un peu d'espace en dessous du titre avant les formulaires */
}

.container {
    display: flex;
    justify-content: space-around; /* Espacer uniformément les formulaires */
    width: 100%; /* Prendre toute la largeur */
    max-width: 800px; /* Largeur maximale du conteneur */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si nécessaire */
}

form {
    background-color: #ffffff; /* Couleur d'arrière-plan du formulaire */
    padding: 30px; /* Espacement à l'intérieur du formulaire */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre douce autour du formulaire */
    width: calc(50% - 40px); /* Calculez la largeur pour inclure la marge */
    margin: 20px; /* Marge autour des formulaires */
}

input, select {
    width: 100%; /* Utiliser toute la largeur disponible */
    padding: 10px; /* Espacement à l'intérieur des champs */
    margin-bottom: 10px; /* Espacement entre les champs */
    border: 1px solid #ccc; /* Bordure des champs */
    border-radius: 4px; /* Coins arrondis pour les champs */
}

input[type="submit"] {
    background-color: #007BFF; /* Couleur d'arrière-plan du bouton */
    color: #ffffff; /* Couleur du texte du bouton */
    border: none; /* Supprimer la bordure du bouton */
    cursor: pointer; /* Changer le curseur en main lors du survol du bouton */
    transition: background-color 0.3s; /* Transition douce lors du survol du bouton */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Couleur d'arrière-plan du bouton lors du survol */
}

input[type="radio"] {
    width: auto; /* Réinitialiser la largeur à la valeur par défaut pour les boutons radio */
    margin-right: 10px; /* Ajouter un peu d'espace entre le bouton radio et son label */
    padding: 0; /* Réinitialiser le padding pour les boutons radio */
    border: none; /* Supprimer la bordure pour les boutons radio */
    border-radius: 0; /* Réinitialiser les coins arrondis pour les boutons radio */
}

.suggestions {
    border: 1px solid #ddd;
    border-top: none;
}

.suggestions div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}

.suggestions div:hover {
    background-color: #f6f6f6;
}

.radio-label-container {
    align-items: center; /* Centrer les éléments verticalement */
    margin-bottom: 10px; /* Espacement entre chaque groupe de bouton radio et label */
}

.price-container {
    display: flex;
    align-items: center;
}

.price-label {
    margin-right: 10px; /* Ajustez selon vos besoins */
}

.price-value {
    font-weight: bold; /* Pour mettre en évidence le prix */
}
