
body {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    background-color: #f4f4f4; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%; 
}

.main-title {
    text-align: center;
    width: 100%; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-around; 
    width: 100%;
    max-width: 800px; 
    flex-wrap: wrap;
}


.popup-container {
    display: none;
}

.popup-form {
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 0 auto; 
    width: calc(50% - 40px); 
    max-width: 800px; 
}

.popup-info {
    width: calc(100% - 40px); 
    max-width: 800px;
    background-color: #ffffff; 
    padding: 30px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; 
}

form {
    background-color: #ffffff; 
    padding: 30px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(50% - 40px); 
    margin: 20px; 
}

input, select {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}
 
input[type="text"], input[type="email"], input[type="number"], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="radio"] {
    width: auto; 
    margin-right: 10px; 
    padding: 0; 
    border: none; 
    border-radius: 0; 
}

.suggestions {
    border: 1px solid #ddd;
    border-top: none;
    width: 100%;
    background-color: white;
}

.suggestions div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}

.suggestions div:hover {
    background-color: #f6f6f6;
}

.radio-label-container {
    align-items: center; 
    margin-bottom: 10px; 
}

.price-container {
    display: flex;
    align-items: center;
}

.price-label {
    margin-right: 10px;
}

.price-value {
    font-weight: bold;
}

.confirm-form {
    width: calc(80% - 40px); 
    max-width: 800px; 
    margin-bottom: 20px; 
}

.menu-container {
    text-align: center;
    padding: 20px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.menu-item {
    display: block;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    color: black;
    text-decoration: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.menu-item:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: translateY(-5px);
}

.nouvelle-pose {
    background-color: #FDBA74;
}

.nouveau-client {
    background-color: #74CDFD;
}

.atelier {
    background-color: #74D3FD;
}

.livraisons {
    background-color: #FDE074;
}

@media (max-width: 768px) {
    .menu {
        grid-template-columns: 1fr;
    }
}

.confirmation-box {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px; 
}

.confirmation-box h1 {
    color: #333;
    margin-bottom: 20px;
}

.confirmation-box p {
    color: #666;
    line-height: 1.6;
}

.confirmation-box a {
    color: #007bff;
    text-decoration: none;
}

.confirmation-box a:hover {
    text-decoration: underline;
}

.commandes-container {
    display: flex;
    flex-direction: column;   
}

.categorie {
    margin-bottom: 20px;
}

.commandes {
    border: 2px solid ;
    border-radius: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    width: 70%
}

@media screen and (max-width: 600px) {
    .commandes-ligne {
        flex-direction: column;
    }
}

.slider-container {
    position: relative;
    width: 100%;
}

.slider {
    width: 90%;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(to right, #4CAF50 50%, #ddd 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.3s;
    border-radius: 10px;
    height: 20px;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(84, 84, 84);
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}


.slider:before {
    content: 'Pose à faire';
    right: 10px;
    color: black;
}

.slider:after {
    content: 'Pose terminée';
    left: 10px;
    color: black;
    opacity: 0;
    transition: opacity 0.3s;
}

.slider.active:after {
    opacity: 1;
}

.livraisons-container {
    display: flex;
    flex-direction: column;
}

.livraison {
    border: 2px solid ;
    border-radius: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    width: 60%
}

.livraison p {
    margin: 5px 0;
}

@media screen and (max-width: 600px) {
    .livraison .form-group {
        flex-basis: 100%;
    }
}