<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Client</title>
</head>
<body>

    <div class="container">
        <form action="/client/search_client" method="post">
            <h2>Rechercher un client</h2>
            
            <label for="search_email">Quel est ton adresse email ?</label>
            <input type="email" id="search_email" name="search_email" placeholder="Entrez votre email" required>
            
            <input type="submit" value="Rechercher">
        </form>

        <form action="/client/add_client" method="post">

            <h2>Ajouter un nouveau client</h2>
            
            <label for="email">Quel est ton adresse email ?</label>
            <input type="email" id="email" name="email" placeholder="Ex: andréngn@gmail.com" required>

            <label for="phonenumber">Quel est ton numéro de telephone</label>
            <input type="phonenumber" id="phonenumber" name="phonenumber" placeholder="07.62.18.84.77" required>

            <label for="name">Nom</label>
            <input type="text" id="name" name="name" placeholder="Ex: Nguyen" required>
            
            <label for="firstname">Prénom</label>
            <input type="text" id="firstname" name="firstname" placeholder="Ex: Christophe" required>
           
            <input type="submit" value="Ajouter">
        </form>
    </div>
</body>
</html>