<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Client</title>
</head>
<body>

    <div class="container">
        <form action="/client/search_client" method="post">
            <h2>Rechercher un client</h2>
            
            <label for="search_email">Quel est ton adresse email ?</label>
            <input type="email" id="search_email" name="search_email" placeholder="Entrez votre email" required>
            
            <input type="submit" value="Rechercher">
        </form>

        <form action="/client/add_client" method="post">

            <h2>Ajouter un nouveau client</h2>
            
            <label for="email">Quel est ton adresse email ?</label>
            <input type="email" id="email" name="email" placeholder="Ex: andréngn@gmail.com" required>

            <h3>Comment t'appelles-tu </h3>
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" placeholder="Ex: Nguyen" required>
            
            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" name="prenom" placeholder="Ex: Christophe" required>
            
            <label for="datedenaissance">Quel est ta date de naissance :</label>
            <input type="date" id="datedenaissance" name="datedenaissance" required>

            <label for="genre">Quel est ton genre :</label>
            <input type="text" id="genre" name="genre" placeholder="Homme,Femme,Autres" required>     
            
            <label for="ville">Dans quelle vilte habites-tu ?</label>
            <input type="text" id="ville" name="ville" placeholder="Ex: Paris" required>
            
            <label for="codepostal">Quel est ton code postal ?</label>
            <input type="text" id="codepostal" name="codepostal" placeholder="Ex: 75019" required>
           
            <input type="submit" value="Ajouter">
        </form>
    </div>
</body>
</html>