<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Menu Principal</title>
</head>
<body>
    <div class="menu-container">
        <h1>Goatt tools</h1>
        <div class="menu">
            <a href="{{ url_for('order_bp.order_page') }}" class="menu-item nouvelle-pose">Nouvelle pose cordage</a>
            <a href="{{ url_for('client_bp.new_customer_page') }}" class="menu-item nouveau-client">Nouveau client</a>
            <a href="{{ url_for('orders_bp.workshop_page') }}" class="menu-item atelier">Atelier</a>
        </div>
    </div>
</body>
</html>