<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Menu Principal</title>
</head>
<body>
    <div class="menu">
        <h1>Menu Principal</h1>
        <a href="{{ url_for('order_bp.page_des_commandes_de_pose_cordage') }}">Commande</a>
        <a href="{{ url_for('client_bp.page_nouveau_client') }}">Ajout de client</a>
        <a href="{{ url_for('orders_bp.page_de_latelier') }}">Visualisation des commandes</a>
        <a href="{{ url_for('deliveries_bp.page_des_livraisons')}}">Visualisation des livraisons</a>
    </div>
</body>
</html>