<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Commande</title>
</head>
<body>
    <h1>Passer une Commande</h1>
    <form action="/submit_order" method="post" id="orderForm">

        <!-- Choix de la marque de cordage -->
        <label for="cordage_marque">Marque du cordage :</label>
        <select id="cordage_id" name="cordage_id" onchange="updatePrix()">
            {% for marque, info in cordages_info.items() %}
                <option value="{{ marque }}" data-prix="{{ info.prix }}">{{ marque }}</option>
            {% endfor %}
        </select>
        
        <p id="prix_cordage">Prix: </p>
        
        <!-- Quantité de cordage -->
        <label for="cordage_quantite">Quantité :</label>
        <input type="number" id="cordage_quantite" name="cordage_quantite" min="1" placeholder="Quantité" required>

        <!-- Bouton pour ajouter au panier -->
        <button type="button" onclick="ajouterAuPanier()">Ajouter au panier</button>

        <!-- Panier -->
        <div id="panier">
            <h2>Votre panier :</h2>
            <ul id="listePanier">
                <!-- Les articles du panier seront ajoutés ici -->
            </ul>
            <p>Total: <span id="totalPanier">0</span> €</p>
            <!-- Champ caché pour stocker le total du panier -->
            <input type="hidden" id="prixTotalPanier" name="prixTotalPanier" value="0">
        </div>

        <!-- Option de récupération -->
        <div>
            <p>Ou souhaitez-vous déposer votre raquette ? :</p>
            <input type="radio" id="recuperation_adresse" name="option_recuperation" value="adresse" required>
            <label for="recuperation_adresse">À une adresse personnelle</label><br>
            
            <input type="radio" id="recuperation_magasin" name="option_recuperation" value="magasin" required>
            <label for="recuperation_magasin">Dans un magasin</label>
        </div>

        <!-- Adresse de récupération -->
        <div id="adresse_recuperation_container" style="display:none;">
            <label for="adresse_recuperation">Adresse de récupération :</label>
            <input type="text" id="adresse_recuperation" name="adresse_recuperation" placeholder="Ex : 15 Av de CLichy, 75017 Paris, France">
        </div>

        <!-- Sélection du magasin -->
        <div id="magasin_recuperation_container" style="display:none;">
            <label for="magasin_recuperation">Sélectionnez un magasin :</label>
            <select id="magasin_recuperation" name="magasin_recuperation">
                <!-- Insérez les options de magasin ici -->
                <option value="magasin1" data-adresse="174 Quai de Jemmapes, 75010 Paris, France">Magasin 1</option>
                <option value="magasin2" data-adresse="174 Quai de Jemmapes, 75010 Paris, France">Magasin 2</option>
            </select>
        </div>

        <!-- Champ caché pour stocker l'adresse du magasin sélectionné -->
        <input type="hidden" id="adresse_magasin" name="adresse_magasin">

        <!-- Sélection de la date de récupération de la raquette -->
        <div>
            <label for="date_depot">Date de dépôt de la raquette :</label>
            <input type="date" id="date_depot" name="date_depot" required>
        </div>

        <!-- Sélection de l'heure de récupération de la raquette en heures pleines -->
        <div>
            <label for="heure_recuperation">Heure de récupération (0-23) :</label>
            <input type="number" id="heure_recuperation" name="heure_recuperation" min="0" max="23" step="1" placeholder="13" required>
        </div>

        <!-- Option de livraison -->
        <div>
            <p>Ou souhaitez-vous récuperer votre raquette :</p>
            <input type="radio" id="livraison_adresse" name="option_livraison" value="adresse" required>
            <label for="livraison_adresse">À une adresse personnelle</label><br>
            
            <input type="radio" id="livraison_magasin" name="option_livraison" value="magasin" required>
            <label for="livraison_magasin">Dans un magasin</label>
        </div>

        <!-- Adresse de livraison -->
        <div id="adresse_livraison_container" style="display:none;">
            <label for="adresse_livraison">Adresse de livraison :</label>
            <input type="text" id="adresse_livraison" name="adresse_livraison" placeholder="Ex : 15 Av de CLichy, 75017 Paris, France">
        </div>

        <!-- Sélection du magasin pour la livraison -->
        <div id="magasin_livraison_container" style="display:none;">
            <label for="magasin_livraison">Sélectionnez un magasin pour la livraison :</label>
            <select id="magasin_livraison" name="magasin_livraison">
                <!-- Insérez les options de magasin ici -->
                <option value="magasin1" data-adresse="174 Quai de Jemmapes, 75010 Paris, France">Magasin 1</option>
                <option value="magasin2" data-adresse="174 Quai de Jemmapes, 75010 Paris, France">Magasin 2</option>
            </select>
        </div>

        <!-- Champ caché pour stocker l'adresse du magasin de livraison sélectionné -->
        <input type="hidden" id="adresse_magasin_livraison" name="adresse_magasin_livraison">

        <!-- Sélection de la date de récupération/livraison -->
        <label for="date_recuperation">Date de récupération/livraison :</label>
        <select id="date_recuperation" name="date_recuperation">
        <!-- Les options de date seront ajoutées ici par JavaScript -->
        </select>

        <!-- Sélection de l'heure de livraison -->
        <div>
            <label for="heure_livraison">Heure de livraison (entrez "10h-12h" ou "18h-20h") :</label>
            <input type="text" id="heure_livraison" name="heure_livraison" title="Heure de livraison doit être '10h-12h' ou '18h-20h'" required placeholder="Ex: 10h-12h ou 18h-20h">
        </div>
            
        <input type="submit" value="Passer la commande">
    </form>

    <script>
        var panier = [];

        function updatePrix() {
            var selectElement = document.getElementById('cordage_id');
            var prixUnitaire = selectElement.options[selectElement.selectedIndex].getAttribute('data-prix');
            var quantite = document.getElementById('cordage_quantite').value;
            var prixTotal = prixUnitaire * quantite;
            document.getElementById('prix_cordage').textContent = 'Prix: ' + prixTotal.toFixed(2) + ' €';
        }

        // Ajouter un écouteur d'événements sur le champ de quantité
        document.getElementById('cordage_quantite').addEventListener('change', updatePrix);

        // Mettre à jour le prix initial lors du chargement de la page
        document.addEventListener('DOMContentLoaded', function() {
            updatePrix();
        });
        
        function ajouterAuPanier() {
            var selectElement = document.getElementById('cordage_id');
            var marque = selectElement.value;
            var prix = selectElement.options[selectElement.selectedIndex].getAttribute('data-prix');
            var quantite = document.getElementById('cordage_quantite').value;
            var totalArticle = prix * quantite;

            panier.push({ marque: marque, quantite: quantite, prix: prix, totalArticle: totalArticle });
            afficherPanier();
        }

        function afficherPanier() {
            var listePanier = document.getElementById('listePanier');
            var totalPanier = document.getElementById('totalPanier');
            var inputPrixTotalPanier = document.getElementById('prixTotalPanier');
            var total = 0;

            listePanier.innerHTML = '';

            panier.forEach(function(article, index) {
                var li = document.createElement('li');
                li.textContent = article.marque + ' x ' + article.quantite + ' : ' + article.totalArticle + ' €';
                
                // Créer un bouton de suppression
                var btnSupprimer = document.createElement('button');
                btnSupprimer.textContent = 'Supprimer';
                btnSupprimer.onclick = function() { supprimerDuPanier(index); }; // Fonction de suppression
                li.appendChild(btnSupprimer);

                listePanier.appendChild(li);

                total += parseFloat(article.totalArticle);
            });

            totalPanier.textContent = total.toFixed(2);
            inputPrixTotalPanier.value = total.toFixed(2);
        }

        function supprimerDuPanier(index) {
            panier.splice(index, 1); // Supprime l'article du tableau
            afficherPanier(); // Met à jour l'affichage du panier
        }

        // Fonction pour récupérer les créneaux disponibles et les afficher
        function recupererEtAfficherCreneaux() {
            fetch('https://goatt-db.onrender.com/get_available_slots')
                .then(response => response.json())
                .then(data => {
                    const selectElement = document.getElementById('date_recuperation');
                    selectElement.innerHTML = ''; // Effacer les options existantes

                    // Boucler sur les données pour ajouter les options
                    for (const [date, creneaux] of Object.entries(data)) {
                        creneaux.forEach(creneau => {
                            const option = document.createElement('option');
                            option.value = date + ' ' + creneau;
                            option.textContent = date + ' ' + creneau;
                            selectElement.appendChild(option);
                        });
                    }
                })
                .catch(error => {
                    console.error('Erreur lors de la récupération des créneaux disponibles', error);
                });
        }

        document.getElementById('magasin_recuperation').addEventListener('change', function() {
            var adresseMagasin = this.options[this.selectedIndex].getAttribute('data-adresse');
            document.getElementById('adresse_magasin').value = adresseMagasin;
        });

        document.getElementById('magasin_livraison').addEventListener('change', function() {
            var adresseMagasin = this.options[this.selectedIndex].getAttribute('data-adresse');
            document.getElementById('adresse_magasin').value = adresseMagasin;
        });

        // Script pour afficher/cacher les champs en fonction de l'option de récupération choisie
        document.addEventListener('DOMContentLoaded', function() {
            var recuperationOptions = document.querySelectorAll('input[name="option_recuperation"]');
            recuperationOptions.forEach(function(option) {
                option.addEventListener('change', function() {
                    if (this.value === 'adresse') {
                        document.getElementById('adresse_recuperation_container').style.display = 'block';
                        document.getElementById('magasin_recuperation_container').style.display = 'none';
                    } else if (this.value === 'magasin') {
                        document.getElementById('adresse_recuperation_container').style.display = 'none';
                        document.getElementById('magasin_recuperation_container').style.display = 'block';
                    }
                });
            });

            var livraisonOptions = document.querySelectorAll('input[name="option_livraison"]');
            livraisonOptions.forEach(function(option) {
                option.addEventListener('change', function() {
                    if (this.value === 'adresse') {
                        document.getElementById('adresse_livraison_container').style.display = 'block';
                        document.getElementById('magasin_livraison_container').style.display = 'none';
                    } else if (this.value === 'magasin') {
                        document.getElementById('adresse_livraison_container').style.display = 'none';
                        document.getElementById('magasin_livraison_container').style.display = 'block';
                    }
                });
            });
            
            // Récupérer et afficher les créneaux disponibles
            recupererEtAfficherCreneaux();
        });

        
    </script>
</body>
</html>
