<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Livraisons de Cordage de Tennis</title>
</head>
<body>
    <div class="livraisons-container">
        {% for livraison in livraisons %}
        <div class="livraison">
            <h3>{{ livraison.client }}</h3>
            <p><strong>Date et Heure de Livraison:</strong> {{ livraison.date_livraison }} {{ livraison.heure_livraison }}</p>
            <p><strong>Adresse de livraison:</strong> {{ livraison.adresse_de_livraison}}</p>
            <p><strong>Téléphone:</strong> {{ livraison.téléphone}}</p>
            <textarea id="note-{{ livraison.id }}" onblur="enregistrerNote('{{ livraison.id }}')" placeholder="Ajoutez une note ici...">{{ livraison.Note }}</textarea>
        </div>
        {% endfor %}
    </div>
    <script src="/static/scripts/script.js"></script>
</body>
</html>