<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Nouvelle pose cordage</title>
</head>
<body>
    <header class="page-header">
        <div class="logo-container">
            <a href="/">
                <img src="https://cdn.shopify.com/s/files/1/0617/9720/4151/files/logo_goatt_transparent_background_150x.png" alt="Logo GOATT">
            </a>
        </div>
        <p>Nouvelle pose cordage</p>
        <nav class="navigation">
            <a href="/" class="home-link">Retour à l'accueil</a>
        </nav>
    </header>
    <div class="container">        
        <form action="/order/stringing_order" method="post" id="orderForm">

            <h2>Commande</h2>

            <script>
                let emailsInfo = JSON.parse('{{ emails | tojson | safe }}');
            </script>

            <h3>Client</h3>
            <div class="form-group">
                <label for="search_email">Email</label>
                <label for="phonenumber">Numéro de téléphone</label>
            </div>

            <div class="form-group">
                <input type="email" id="search_email" name="search_email"  placeholder="Chercher un client avec son email" onkeyup="searchEmail()"  >
                <input type="tel" id="phonenumber" name="phonenumber"  placeholder="0789674125" required>
            </div>

            <div id="emailSuggestions" class="suggestions"></div>

            <div class="form-group">
                <label for="name">Nom</label>
                <label for="firstname">Prénom</label>
            </div>

            <div class="form-group">
                <input type="text" id="name" name="name" placeholder="Ex: Nguyen"  autocomplete="given-name" required>
                <input type="text" id="firstname" name="firstname" placeholder="Ex: Christophe"  autocomplete="given-name" required>
            </div>
            
            <script>
                let stringsInfo = JSON.parse('{{ strings_info | tojson | safe }}');
            </script>

            <h3>Cordage</h3>
            <div class="form-group">
                <label for="searchInput">Cordage</label>
                <label for="Tension">Tension</label>
            </div>

            <div class="form-group">
                <input type="text" id="searchInput" name="searchInput" onkeyup="searchString()" onchange="updatePrice()"  placeholder="Recherchez un cordage..." required>
                <input type="text" id="Tension" name="Tension"  placeholder="Montant, Travers : 22, 24 , recommandation expert" required>
            </div>

            <div id="cordagesuggestions" class="suggestions"></div>

            <!-- Hidden field to store the shopify variant id -->
            <input type="hidden" id="shopifyVariantId" name="shopifyVariantId">
            
            <!-- Quantity of string -->
            <div class="form-group">
                <label for="string_quantity">Nombre de raquettes</label>
                <input type="number" id="string_quantity" name="string_quantity" min="0" value="1" step="1" placeholder="1,2,3,..." required>
            </div>

            <div class="price-container">
                <p class="price-label">Prix total (avec pose)</p>
                <p id="string_price" class="price-value"></p>
            </div>


            <input type="hidden" id="totalPrice" name="totalPrice">

            <h3>Récuperation</h3>
            
            <!-- Pickup option -->
            <div class="radio-group">
                <input type="radio" id="pickup_store_radio" name="pickup_option" value="store" checked>
                <label for="pickup_store_radio">En magasin</label>
                <input type="radio" id="pickup_address_radio" name="pickup_option" value="address">
                <label for="pickup_address_radio">Autre adresse</label>
            </div>

            <!-- Pickup address -->
            <div id="pickup_address_container" class="form-group" style="display:none;">
                <label for="pickup_address">Adresse</label>
                <input type="text" id="pickup_address" name="pickup_address" placeholder="Ex: 15 Avenue de Clichy 75017 Paris" onkeyup="searchAddressDeposit('pickup_address', 'pickup_suggestions')">
            </div>
            
            <div id="pickup_suggestions" class="adresssuggestions"></div>

            <input type="hidden" id="longitudeDeposit" name="longitudeDeposit">
            <input type="hidden" id="latitudeDeposit" name="latitudeDeposit">
            <input type="hidden" id="store_pickup_address" name="store_pickup_address">

            <div class="form-group">
                <!-- Selection of pickup/delivery date -->
                <label for="pickup_deposit_date">Date</label>
                <select id="pickup_deposit_date" name="pickup_deposit_date" onchange="updateTimeSlotsDeposit()">
                        <!-- Date options will be added here by JavaScript -->
                </select>
                <!-- Selection of racket pickup time -->
                <select id="pickup_time_dropdown" name="pickup_time" style="display:none;">
                    <!-- The hour will be added here by Javascript -->
                </select>
            </div>

            <!-- Hidden field to store the selected deposit time slot -->
            <input type="hidden" id="selected_slot_deposit" name="selected_slot_deposit">

            <h3>Livraison</h3>

            <!-- Delivery option -->
                <div class="radio-group">
                    <input type="radio" id="delivery_store_radio" name="delivery_option" value="store" checked>
                    <label for="delivery_store_radio">En magasin</label>
                    <input type="radio" id="delivery_address_radio" name="delivery_option" value="address">
                    <label for="delivery_address_radio">Autre adresse</label>
                </div>


            <!-- Delivery address -->
            <div id="delivery_address_container" class="form-group"  style="display:none;">
                <label for="delivery_address">Adresse</label>
                <input type="text" id="delivery_address" name="delivery_address" placeholder="Ex: 15 Av de Clichy, 75017 Paris, France" onkeyup="searchAddressDelivery('delivery_address', 'delivery_suggestions')">
            </div>

            <div id="delivery_suggestions" class="addresssugestions"></div>

            <input type="hidden" id="longitudeDelivery" name="longitudeDelivery">
            <input type="hidden" id="latitudeDelivery" name="latitudeDelivery">
            <input type="hidden" id="store_delivery_address" name="store_delivery_address">

            <div class="form-group">
                <!-- Selection of pickup/delivery date -->
                <label for="pickup_delivery_date">Date</label>
                <select id="pickup_delivery_date" name="pickup_delivery_date">
                    <!-- Date options will be added here by JavaScript -->
                </select>
                <select id="delivery_time_dropdown" name="delivery_time" style="display:none;">
                    <!-- Time options will be added here by JavaScript -->
                </select>
            </div>
            <!-- Hidden field to store the selected pickup/delivery time slot -->
            <input type="hidden" id="selected_slot_delivery" name="selected_slot_delivery">


                <label for="client_notes">Notes :</label>
                <textarea id="client_notes" name="client_notes" rows="4" cols="45" placeholder="Laissez un commentaire ou un feedback ici..."></textarea>



                <input type="submit" value="Passer la commande" class="btn-submit">

        </form>
    </div>
    <script src="/static/scripts/order.js"></script>
</body>
</html>
