<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Commandes de Cordage de Tennis</title>
</head>
<body>
    <div class="commandes-container">
        {% for details in toutes_commandes %}
        <div class="commande">
            {% if details.type == 'B2C' %}
                <h3>{{ details.client }}</h3> 
            {% else %}
                <h3>ID Client: {{ details.id_client }}</h3> 
            {% endif %}
    
            <p class="{{ details.priority_class }}"><strong>Date de Livraison:</strong> {{ details.date_livraison.strftime('%d/%m/%Y') if details.date_livraison else 'Non spécifiée' }}</p>
            <p><strong>Type de commande:</strong> {{ details.type }}</p>
            <p><strong>Cordage:</strong> {{ details.Cordage }}</p>
            <p><strong>Tension:</strong> {{ details.Tension }}</p>
            <strong>Articles:</strong> 
            <div>
                {% for article in details.Articles %}
                    <div class="article">{{ article }}</div>
                {% endfor %}
            </div>
                            
            <textarea id="note-{{ details.id }}" onblur="enregistrerNote('{{ details.id }}')" placeholder="Ajoutez une note ici...">{{ details.Note }}</textarea>
            <input type="range" min="0" max="1" value="0" class="slider" id="slider-{{ details.id }}" onchange="terminerCommande('{{ details.id }}', this)">
        </div>
        {% endfor %}
    </div>
    <script src="/static/scripts/script.js"></script>
</body>
</html>
