<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Nouvelle pose cordage</title>
</head>
<body>
    <header class="page-header">
        <div class="logo-container">
            <a href="/">
                <img src="https://cdn.shopify.com/s/files/1/0617/9720/4151/files/logo_goatt_transparent_background_150x.png" alt="Logo GOATT">
            </a>
        </div>
        <nav class="navigation">
            <a href="/" class="home-link">Retour à l'accueil</a>
        </nav>
    </header>
    <div class="container">
        <form action="/client/add_client" method="post" id="addform">
            <h2>Client :</h2>

            <label for="search_email">Email :</label>
            <input type="email" id="search_email" name="search_email" placeholder="Ajouter un client avec son email">

            <label for="phonenumber">Numéro de téléphone :</label>
            <input type="text" id="phonenumber" name="phonenumber" placeholder="07.62.18.84.77" required>

            <label for="name">Nom :</label>
            <input type="text" id="name" name="name" placeholder="Ex: Nguyen" required>

            <label for="firstname">Prénom :</label>
            <input type="text" id="firstname" name="firstname" placeholder="Ex: Christophe" required>

            <input type="submit" value="Ajouter">
            
        </form>
    </div>
    <script src="/static/scripts/client.js"></script>
</body>
</html>
