<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Commandes de Cordage de Tennis</title>
</head>
<body>
    <header class="page-header">
        <div class="logo-container">
            <a href="/">
                <img src="https://cdn.shopify.com/s/files/1/0617/9720/4151/files/logo_goatt_transparent_background_150x.png" alt="Logo GOATT">
            </a>
        </div>
        <nav class="navigation">
            <a href="/" class="home-link">Retour à l'accueil</a>
        </nav>
    </header>
    <div class="commandes-container">
        <h1>Commande en cours</h1>
        <section class="categorie">
            <h2>A récupérer</h2>
                {% if commandes_a_recuperer %}
                    {% for commande in commandes_a_recuperer %}
                        <div class="commandes" data-commande-id="{{ commande.id }}" data-commande-details='{{ commande | tojson | safe }}' onclick="openModal(this.getAttribute('data-commande-details'))">
                            <p><strong>{{ commande.date_livraison}} {{commande.heure_livraison}}</strong></p>
                            {% if commande.type == 'B2C' %}
                                <p><strong>{{ commande.client }}</strong> ({{ commande.telephone }})</p>
                            {% else %}
                                <p><strong>ID Client: {{ commande.id_client }}</strong></p>
                            {% endif %}
                            <p><strong>Cordage:</strong> {{ commande.cordage }}</p>
                            <p><strong>Tension:</strong> {{ commande.tension }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Aucune commande pour aujourd'hui</p>
                {% endif %}
        </section>
        <section class="categorie">
            <h2>A corder</h2>
                {% if commandes_a_poser %}
                    {% for commande in commandes_a_poser %}
                        <div class="commandes" data-commande-id="{{ commande.id }}" data-commande-details='{{ commande | tojson | safe }}' onclick="openModal(this.getAttribute('data-commande-details'))">
                            <p><strong>{{ commande.date_livraison}} {{commande.heure_livraison}}</strong></p>
                            {% if commande.type == 'B2C' %}
                                <p><strong>{{ commande.client }}</strong> ({{ commande.telephone }})</p>
                            {% else %}
                                <p><strong>ID Client: {{ commande.id_client }}</strong></p>
                            {% endif %}
                            <p><strong>Cordage:</strong> {{ commande.cordage }}</p>
                            <p><strong>Tension:</strong> {{ commande.tension }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Aucune commande pour demain</p>
                {% endif %}
        </section>
        <section class="categorie">
            <h2>A livrer</h2>
                {% if commandes_a_livrer %}
                    {% for commande in commandes_a_livrer %}
                        <div class="commandes" data-commande-id="{{ commande.id }}" data-commande-details='{{ commande | tojson | safe }}' onclick="openModal(this.getAttribute('data-commande-details'))">
                            <p><strong>{{ commande.date_livraison}} {{commande.heure_livraison}}</strong></p>
                            {% if commande.type == 'B2C' %}
                                <p><strong>{{ commande.client }}</strong> ({{ commande.telephone }})</p>
                            {% else %}
                                <p><strong>ID Client: {{ commande.id_client }}</strong></p>
                            {% endif %}
                            <p><strong>Cordage:</strong> {{ commande.cordage }}</p>
                            <p><strong>Tension:</strong> {{ commande.tension }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Aucune commande pour plus tard</p>
                {% endif %}
        </section>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <div id="modalDetails"></div>
        </div>
    </div>
    <script src="/static/scripts/orders.js"></script>
</body>
</html>
